{% extends "base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/events.css">
{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">

            <div class="row" style="flex-direction: column;">
                <div class="title-div">
                    <h1 class="title">Events</h1>
                    {% if request.user.is_superuser %}
                        <a class="add-btn" href="{% url 'add_events' %}">+ Events</a>
                    {% endif %}
                </div>
                <h1 class="title">Confirmed</h1>
                {% for e in events_obj %}
                <div class="card" style="display: flex;
                flex-direction: row;
                justify-content: space-between;">
                    <div class="product-detail-div">
                        <div class="card-body">
                            <b>Client Name: </b><br>{{e.client_name}}
                        </div>
                        <div class="card-body">
                            <b>Location: </b><br>{{e.event_location}}
                        </div>
                        <div class="card-body">
                            <b>Shipment Date: </b><br>{{e.shipment_date}}
                        </div>
                        <div class="card-body">
                            <b>Return Date: </b><br>{{e.return_date}}
                        </div>
                        <div class="card-body">
                            <b>Status: </b><br>{{e.status}}
                        </div>
                    </div>
                    <div class="product-btn-div">
                        <a class="btn  btn-success" href="{% url 'view_event' e.id %}">Details</a>
                        {% if request.user.is_superuser %}
                            <a class="btn  btn-primary" href="{% url 'edit_events' e.id %}">Edit</a>
                            <a class="btn  btn-danger" href="{% url 'delete_events' e.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <h1 class="title">Tentative</h1>
                {% for e in events_obj_tentative %}
                <div class="card" style="display: flex;
                flex-direction: row;
                justify-content: space-between;">
                    <div class="product-detail-div">
                        <div class="card-body">
                            <b>Client Name: </b><br>{{e.client_name}}
                        </div>
                        <div class="card-body">
                            <b>Location: </b><br>{{e.event_location}}
                        </div>
                        <div class="card-body">
                            <b>Shipment Date: </b><br>{{e.shipment_date}}
                        </div>
                        <div class="card-body">
                            <b>Return Date: </b><br>{{e.return_date}}
                        </div>
                        <div class="card-body">
                            <b>Status: </b><br>{{e.status}}
                        </div>
                    </div>
                    <div class="product-btn-div">
                        <a class="btn  btn-success" href="{% url 'view_event' e.id %}">Details</a>
                        {% if request.user.is_superuser %}
                            <a class="btn  btn-primary" href="{% url 'edit_events' e.id %}">Edit</a>
                            <a class="btn  btn-danger" href="{% url 'delete_events' e.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <h1 class="title">Late</h1>
                {% for e in events_obj_late %}
                <div class="card" style="display: flex;
                flex-direction: row;
                justify-content: space-between;">
                    <div class="product-detail-div">
                        <div class="card-body">
                            <b>Client Name: </b><br>{{e.client_name}}
                        </div>
                        <div class="card-body">
                            <b>Location: </b><br>{{e.event_location}}
                        </div>
                        <div class="card-body">
                            <b>Shipment Date: </b><br>{{e.shipment_date}}
                        </div>
                        <div class="card-body">
                            <b>Return Date: </b><br>{{e.return_date}}
                        </div>
                        <div class="card-body">
                            <b>Status: </b><br>{{e.status}}
                        </div>
                    </div>
                    <div class="product-btn-div">
                        <a class="btn  btn-success" href="{% url 'view_event' e.id %}">Details</a>
                        {% if request.user.is_superuser %}
                            <a class="btn  btn-primary" href="{% url 'edit_events' e.id %}">Edit</a>
                            <a class="btn  btn-danger" href="{% url 'delete_events' e.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
