{% extends "base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/products.css">
{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">

            <div class="row" style="flex-direction: column;">
                <div class="title-div">
                    <h1 class="title">Products</h1>
                    {% if request.user.is_superuser %}
                        <a class="add-btn" href="{% url 'add_products' %}">+ Product</a>
                    {% endif %}
                </div>
                {% for p in products %}
                <div class="card" style="display: flex;
                flex-direction: row;
                justify-content: space-between;">
                    <div class="product-detail-div">
                        <img src="{{p.image.url}}" class="product-image">
                        <div class="card-body">
                            <b>Name: </b>{{p.name}}
                        </div>
                        <div class="card-body">
                            <b>Quantity:</b> {{p.quantity}}
                        </div>
                        <div class="card-body">
                            <b>Quantity Left: </b>{{p.quantity_left}}
                        </div>
                    </div>
                    <div class="product-btn-div">
                            <a class="btn  btn-success" href="{% url 'view_product' p.id %}">Details</a>
                        {% if request.user.is_superuser %}
                            <a class="btn  btn-primary" href="{% url 'edit_products' p.id %}">Edit</a>
                            <a class="btn  btn-danger" href="{% url 'delete_products' p.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
